# ignore .Rhistory files
*.Rhistory
# ignore .Rproj
*.Rproj
# ignore .Rproj.user/ folders
*.Rproj.user*
# ignore the results folder
**/results/*
#
# ignoring folders that are created in the Rscripts anyways
05_STACKS_data_analysis/data/*
06_DArT_data_analysis/data/*
# ignoring some files to help with the process of creating this repository
01_download_data/DArT.zip
01_download_data/DArT/
01_download_data/TableS1.2.csv

01_download_data/STACKS_*
01_download_data/BCFtools_*
04_BCFtools_data_analysis/data/processed/LEA/
